/*
@media only screen and (max-width: 815px) {
     // For mobile phones:
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }

@media only screen and (max-width: 400px) {
        #main-doc {
          margin-left: -10px;
        }
*/

body{
    font-family: 'Times New Roman', Times, serif;
    background-color:burlywood;
    color:#000;
    width: 100%;
    margin: auto;
    text-align: justify;
}

#navbar{
    float: left;
    width: 15vw;
    padding-left: 1vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    position: fixed;
}

#main-doc{
    float: right;
    width: 75vw;
    border-left: 3px solid #000;
    padding-left: 2vw;
    padding-right:  2vw;
    background-color: beige;
}

/* Navigation bar */

#navbar header{

    font-size: xx-large;
    border-top: 0.5vw solid #a52a2a;
    border-bottom: 0.5vw solid #a52a2a;
    width: max-content;
    background-color: #a52a2a;
    color: burlywood;
}

#navbar header:hover{
    color: #a52a2a;
    background-color: burlywood;
}

#navbar a{
    display: block;
    text-align: left;
    padding-bottom: 5vw;
    font-size: 1.25rem;
    text-decoration: none;
    filter: opacity(50%);
}

#navbar a:first-child{
    padding-top: 5vw;
}

#navbar a:hover{
    filter: opacity(100%);
}

/* Main element */

.main-section{
    border-bottom: 0.5vw solid #000000;
    padding: 1vw;
}

/* Section element */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-container li {
    /* width: 100px; */
    margin: 10px;
    text-align: left;
    /* line-height: 75px; */
    /* font-size: 3px; */
  }

  .main-section header{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    filter: blur(1px);
  }


main section:first-child, main section:last-child{
    display: block;
    text-align: center;
}

main section:first-child{
    padding-top:4vw;
    padding-bottom:3vw;
}

main section:last-child{
    padding-top:4vw;
    padding-bottom:3vw;
    border-bottom: 0;
}

section img{
    width: 5vw;
    height: 5vh;
}